name: ci-flow

on:
  push:
    branches:
      - 'giu'
  workflow_dispatch:

# env:
#   SERVER_DIR: /home/reemo-blog

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    container: node:lts-alpine
    steps:
      - uses: actions/checkout@v3
      - name: Install npm deps
        run: |
          yarn 
          yarn build-linux
      - name: Archive built files
        uses: actions/upload-artifact@v3
        with:
          name: build_ubuntu_pkg
          path: deploy

  # upload-to-server:
  #   needs: build-web
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: restore built files server
  #       uses: actions/download-artifact@v3
  #       with:
  #         name: build_web
  #         path: build
  #     - name: copy file via ssh password
  #       uses: appleboy/scp-action@v0.1.4
  #       with:
  #         host: ${{ secrets.HOST }}
  #         username: ${{ secrets.SSH_USERNAME }}
  #         password: ${{ secrets.SSH_PASSWORD }}
  #         source: build/*
  #         target: ${{ env.SERVER_DIR }}

  # ssh-vm:
  #   needs: upload-to-server
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Executing remote ssh
  #     uses: appleboy/ssh-action@master
  #     with:
  #       host: ${{ secrets.HOST }}
  #       username: ${{ secrets.SSH_USERNAME }}
  #       password: ${{ secrets.SSH_PASSWORD }}
  #       script: |
  #         cd ${{ env.SERVER_DIR }}
  #         git pull
  #         static-web-server --port 8084 --root ./build &
        